<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Talent Bank</title>
</head>

<script>
	alert("아이디 및 비밀번호를 확인해주세요 ");
	history.go(-1);
</script>
